<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<div class="bd-example">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.text_field :first_name, placeholder: "First name", class: "form-control" %><br />
      <%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %>
    </div>

    <fieldset>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "E-mail address", class: "form-control" %>
      </div>
    </fieldset>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "form-control" %>
    </div>

    <div class="form-group">
      <em>We need your current password to confirm your changes</em><br />
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary btn-submit" %>
    </div>
  <% end %>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-submit" %></p>

<%= link_to "Back", :back %>
